[Unit]
Description=Run the Rappor Security laboratory João every five minutes

[Timer]
OnBootSec=5min
OnUnitInactiveSec=5min
AccuracySec=30s
Persistent=true
Unit=joao.service

[Install]
WantedBy=timers.target
